<!-- 画像相対パス -->
<% const path=["./assets/images/"]%>
  <footer class="l-footer p-footer">
    <div class="p-footer-inner">
    </div>
    <!-- /.l-footer__inner -->
  </footer>
  </div><!-- l-wrap -->
  </body>
  <script src="./assets/js/imagesloaded.pkgd.min.js"></script>
  <!-- <script src="/assets/js/demo.js"></script> -->
  <script src="./assets/js/bundle.js"></script>

  </html>
